h1{
  te
}
img{
  float: right;
  max-width: 100%;
  height: auto;

}
.jumbotron {
  border-style: dott ed;
  border-color: black;
  border-radius: 25px;
}

}

}

}
}
.well{
  border-style: dashed;
  border-color: black;
  border-radius: 10px;


}
.col{

color: blue;
}
body{
  background-color: rgba(0, 0, 0, 0.1);
}
.about {
font-family: sans-serif;


}
.panel-body {
  margin: 15px;
}
}
